/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 06-oct-2019, 18:55:08
    Author     : Vero
*/

html{ 
    height:100%; 
}
body{ 

    min-height:100%; 
    padding:0; 
    margin:0; 
    position:relative; 
}

body::after{ 
    content:''; 
    display:block; 
    height:100px; 
}

footer{ 
  position:absolute; 
  bottom:0; 
  width:100%; 
  height:100px; 
}

#imglogo {
  float: right;

}

#admin{
    background-image: url("../administrador/imagenes/dot-grid.png");
    background-repeat: repeat;
   
}

#empresa{

    background-image: url("../administrador/imagenes/memphis-colorful.png");
    background-repeat: repeat;
}

#user{
    background-image: url("../administrador/imagenes/confetti-transparent.png");
    background-size: cover;
}